.my-w-fit-content {
  width: fit-content !important;
}

.my-h-fit-content {
  height: fit-content !important;
}

.my-w-1 {
  width: 1rem !important;
}

.my-w-2 {
  width: 2rem !important;
}

.my-w-3 {
  width: 3rem !important;
}

.my-w-4 {
  width: 4rem !important;
}

.my-w-5 {
  width: 5rem !important;
}

.my-p-select {
  padding: 0.7813rem 0.7813rem !important;
}

.my-p-select:focus {
  padding: 0.7813rem 0.7813rem !important;
}
